@media (min-width: $screen-xs) {
  .site-content .widget-area {
    overflow: hidden;
    width: 100%;
    position: relative;
    top: 25px;

    aside {
      display: inline-block;
      vertical-align: top;
      width: 33%;
    }
  }

  .site-content .table-contents {
    display: none;
  }
}

@media (min-width: $screen-xs) {
  .site-content .widget-area {
    aside {

    }
  }
}

@media (min-width: $screen-md) {

  .site-content .widget-area {
    float: right;
    width: $size__site-sidebar;

    aside {
      display: block;
      width: 90%;
    }
  }

  .site-content .widget-area {
    width: $size__site-sidebar;
  }

  .site-content .table-contents {
    position: relative;
    display: block;
    overflow: hidden;
    top: 25px;
    float: right;
    width: 25%;
  }

  .affix {
    position: fixed;
    top: 40px;
  }

  #navbar-toc li.active ul {
    display: block;
  }

  #navbar-toc li > a {
    border-left: 2px solid #ffffff;
  }

  #navbar-toc li.active > a {
    background-color: #e9e9e9;
  }

  #navbar-toc li.active li.active > a {
    background: none;
    border-left: 2px solid #21759b;
  }

  #navbar-toc li ul {
    display: none;
  }

  .nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    width: 100%;
  }

  .nav > li {
    position: relative;
    display: block;
    border-left: 2px transparent;
  }

  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
  }

  .nav > li > a:hover,
  .nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee;
  }

  .nav > li.disabled > a {
    color: #777777;
  }

  .nav > li.disabled > a:hover,
  .nav > li.disabled > a:focus {
    color: #777777;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed;
  }
}
