.site-content {
  @media (min-width: $screen-xs) {
    position: relative;
    min-height: 500px;
    z-index: 1;
    margin-bottom: 50px;
    background-color: #ffffff;
  }

  @media (min-width: $screen-md) {
    border-bottom-left-radius: $main_elements_border_radius;
    border-bottom-right-radius: $main_elements_border_radius;
    margin: 0 0 25px;
  }

}

@media (min-width: $screen-xs) {
  .content-area {
    float: left;
    margin: 0 0 25px;
    width: $size__site-main;
    background-color: $color__content;
  }

  .site-main {
    position: relative;
    margin: 0;
    z-index:2;
  }

  .adt {
    margin-left: 5%;
    opacity: .7;

    .author, .meta-sep, .posted-on {
      display: inline-block;
      vertical-align: middle;
    }

    .user-icon {
      background-repeat: no-repeat;
      background-image: url('images/icons.png');
      width:20px;
      height:20px;
      margin: 0 10px 4px 0;
      display: inline-block;
      vertical-align: middle;
      opacity: .6;
    }

    .date-icon {
      background-repeat: no-repeat;
      background-image: url('images/icons.png');
      background-position: -20px 0;
      width:20px;
      height:20px;
      margin: 0 10px 4px 0;
      display: inline-block;
      vertical-align: middle;
      opacity: .6;
    }
  }

  .meta-sep {
    margin: 0 20px;
  }

  .entry-title {
    margin-bottom: 0;
  }

  .page-content,
  .entry-content,
  .entry-summary {
    margin: 1em 0 0;

    h2 {
      margin: 2em 0 .5em;
    }

    h3 {
      margin: 1.5em 0 .3em;
    }
  }

  .entry-summary {
    padding: 0 1em 0;
  }

  .entry-content {
    margin-bottom: 10px;
  }

  .cat-links, .cat-links a {
    font-size: .9em;
    color: $color__link;
  }

  .excerpt-thumb img {
    border-radius: 3px;
    box-shadow: 0 0 5px #333;
  }
}

@media (min-width: $screen-md) {
  .content-area {
    float: left;
    margin: 0 (-$size__site-sidebar) 25px 0;
    width: $size__site-main;
  }

  .site-main:after {
    z-index:0;
    position:absolute;
    top: 0;
    left: 0;
    width: $size__site-main;
    height: 100%;
    border-right: 1px dashed $color__headers;
    content: "";
  }

  .site-main {
    margin: 0 $size__site-sidebar 0 0;
  }

  .single-post {

    .content-area {
      margin: 0 (-$size__post-sidebar) 30px 0;
    }

    .content-area:after {
      width: $size__site-main - $size__post-sidebar;
    }


    .site-main {
      margin: 0 $size__post-sidebar 0 0;
    }
  }


}
