.site-footer .widget {
  margin: 15px 15px 0;

  h1 {
    font-family: $font__article_header;
    font-size: 1.2em;
    padding: 10px;
    font-weight: 100;
    margin: 0;
    letter-spacing: .05em;
  }

  ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    li {
      margin-top: 10px;
    }
  }
}

.site-info {
  position: relative;
  width: 50%;
  margin: 25px auto;
  text-align: center;
}

.site-info a {
  font-size: .8em;
}

.site-footer {
  border-radius: 10px;
  margin: 0 0 20px 0;
  min-height: 200px;
  background-color: #e1e1e1;
  clear: both;
  width: $size__site-main;
}