.site-footer {
  .footer-sidebar {
    display: block;
    clear: both;
  }
  @media (min-width: $screen-xs) {
    margin: 0 0 20px 0;
    min-height: 200px;
    background-color: #e1e1e1;
    clear: both;
    width: $size__site-main;
  }

  @media (min-width: $screen-lg) {
    border-radius: $main_elements_border_radius;
  }

  .widget-area {
    margin-bottom: 25px;
    min-height: 100px;
  }

  h1 {
    font-family: $font__article_header;
    font-size: 1.2em;
    padding: 10px;
    font-weight: 100;
    margin: 0;
    letter-spacing: .05em;
  }

  .widget {
    margin: 15px 15px 0;
  }

  @media (min-width: $screen-xs) {
    .footer-widgets {
      .widget {
        width: 100%;
        text-align: center;

      }
    }
  }

  @media (min-width: $screen-sm) {
    .footer-widgets {
      .widget {
        width: 30%;
        float: left;
      }
    }
  }

  .sitemap {

    .menu-main-menu-container {
      width: 100%;
    }
    ul {
      text-decoration: none;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      li {
        float: left;
        margin: 10px 25px 0;
      }
    }
  }

  .site-info {
    clear: both;
    position: relative;
    width: 50%;
    margin: 25px auto;
    text-align: center;
  }

  .site-info a {
    font-size: .8em;
  }

}