#masthead {
  @media (min-width: $screen-xs) {
    position: relative;
    margin: 0;
    text-align: center;
    display: block;

    .social-media-headers{
      position: relative;
      margin: 0 auto;
      display:block;
      height: 81px;
      width: 235px;
      overflow: hidden;
    }

    .social-header {
      position:absolute;
      background-image: url('images/social_media_icons.png');
      background-repeat: no-repeat;
      height: 469px;
      width: 75px;
      top:0;
      left:0;

    }

    .h-fb{
      clip: rect(0px, 75px, 75px, 0px);
      top: 0;
      left:0;
      transition: all 0.5s ease-in-out;
    }

    .h-fb:hover{
      clip: rect(0px, 75px, 155px, 0px);
      top: -79px;
    }
    .h-tw{
      clip: rect(0px, 75px, 233px, 0px);
      top: -158px;
      left: 80px;
      transition: all 0.5s ease-in-out;
    }

    .h-tw:hover{
      clip: rect(0px, 75px, 313px, 0px);
      top: -237px;
      left: 80px;
    }

    .h-gp{
      clip: rect(0px, 75px, 392px, 0px);
      top: -315px;
      left: 160px;
      transition: all 0.5s ease-in-out;
    }

    .h-gp:hover{
      clip: rect(0px, 75px, 472px, 0px);
      top: -394px;
      left: 160px;
    }
  }

  @media (min-width: $screen-sm) {
    margin: 0 0 10px;

    .social-media-headers{
      position:absolute;
      top: 20px;
      right: 30px;
      height: 81px;
      width: 235px;
      overflow: hidden;
    }
  }
}

.site-branding h1 {
  position: absolute;
  text-indent: -9999px;
}

.site-branding h2 {
  @media (min-width: $screen-xs) {
    font-family: $font__header;
    font-style: italic;
    font-size: 1.5em;
    font-weight: 100;
    margin: 10px 0;
  }

  @media (min-width: $screen-sm) {
    margin: 0;
    font-size: 1.5em;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 20px;
  }

  @media (min-width: $screen-md) {
    font-size: 1.9em;
  }
}

.site-branding {
  position: relative;
  min-height: 160px;
  margin-bottom: 15px;
}

header img {
  @media (min-width: $screen-xs) {
    position: relative;
    display: block;
    margin: 15px auto;
  }

  @media (min-width: $screen-sm) {
    position: absolute;
  }
}

#logo {
  @media (min-width: $screen-xs) {
    height: 143px;
    width: 146px;
  }

  @media (min-width: $screen-lg) {
    top: 0;
  }
}

#logo-text {
  @media (min-width: $screen-xs) {
    height: 84px;
    width: 349px;
  }

  @media (min-width: $screen-sm) {
    margin: 0;
    top: 50px;
    left: 155px;
  }

}