@media (min-width: $screen-xs) {
  #secondary.widget-area {
    overflow: hidden;
    width: 100%;
    position: relative;
    top: 25px;
    margin-bottom: 3em;

    .widget {
      position: relative;
      margin: 15px 15px 0;
      z-index: 1;
      //margin: 0 0 1.5em;
    }

    aside {
      //display: inline-block;
      display: block;
      width: 95%;
      margin: 0 auto;
      text-align: center;
      padding: 0;
      ul {
        padding: 0 10px 0;
        text-decoration: none;
        list-style-type: none;
      }

    }

    select {
      max-width: 100%;
    }

    h1 {
      font-family: $font__article_header;
      font-size: 1.2em;
      padding: 10px;
      font-weight: 100;
      margin: 0 0 25px;
      background-color: $color__headers;
      letter-spacing: .05em;
      border-radius: 3px;
      text-align: center;
    }

    h1:before {
      position: absolute;
      content: "";
      z-index: -1;
      top: 15px;
      left: 47%;
      width: 40px;
      height: 40px;
      padding: 10px;
      background-color: $color__headers;
      //padding:10px;
      //border-bottom: 1px solid #f0c7c7;
      //    µborder-radius: 10px;
      transform: rotate(45deg);
    }

    ul {
      text-decoration: none;
      list-style-type: none;
      margin: 0;
      padding-left: 15px;
      li {
        margin: 10px 0;
      }
      a {
        color: $color__subheaders;
      }
    }

    #widget-share {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;

      .share-button:before {
        position: absolute;
        width: 1em;
        margin-right: .3em;
        font-size: 200%;
        top: 30%;
        //left: 18%;
      }

      $share-button-width: 75px;
      $share-button-group-width: $share-button-width*3;
      $share-button-height: 75px;
      $share-button-group-height: $share-button-height*2;

      .share-button-group {
        width: $share-button-group-width;
        height: $share-button-group-height;
        position: relative;
        list-style-type: none;
        display: block;
        margin: 20px auto;
        padding: 0;
      }

      .share-button {
        position: relative;
        height: $share-button-height;
        width: $share-button-width;
        display: inline-block;
        vertical-align: middle;
        color: #ffffff;
        margin: 0;
        padding: 0;
        a {
          position: relative;
          display: block;
          width: $share-button-width;
          height: $share-button-height;
          text-decoration: none;
        }
        a:hover{
          text-decoration: none;
        }
      }

      span.counter {
        color: #ffffff;
        position: relative;
        font-family: "Courier New", Courier, monospace;
        font-weight: bold;
        overflow: hidden;
        top: 38px;
        left: 10px;
      }

      span.share-counter {
        font-size: 100%;
        position: relative;
        top: 15px;
        display: block;
        text-align: center;
        width: 100%;
      }

      .share-button:before {
        position: absolute;
        top: 30%;
        //left: 15%;
        font-family: share-icons;
        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        //margin-right: .3em;
        text-align: center;

        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant: normal;
        text-transform: none;

        /* fix buttons height, for twitter bootstrap */
        line-height: 1em;

        /* Animation center compensation - margins should be symmetric */
        /* remove if not needed */
        margin-left: -.5em;

        /* Font smoothing. That was taken from TWBS */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 170%;

      }
      //    /* Search widget. */
      //    .widget_search .search-submit {
      //      display: none;
      //    }

    }
  }
}

@media (min-width: $screen-sm) {
  #secondary.widget-area {
    width: 95%;
    margin: 0 auto 3em;
    aside {
      display: inline-block;
      //float: left;
      vertical-align: top;
      width: 29%;
    }

    h1:before {
      left: 45%;
    }

  }

}

@media (min-width: $screen-md) {

  #secondary.widget-area {
    float: right;
    width: $size__site-sidebar;

    aside {
      display: block;
      width: 90%;

      &.widget_recent_entries {
        text-align: left;
      }
    }

  }

}

