.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

@media (min-width: $screen-xs) {
  .comments-area {
    clear:both;
    width: 100%;
    background-color: $color__headers;
    border-top: 1px dashed #cccccc;
    border-radius: 0;
  }
  .comment-respond, #disqus-thread {
    width: 95%;
    margin: 0 auto;
    padding: 5px;
  }

  #disqus_thread {
    width: 95%;
    margin:0 auto;
    padding: 20px;
  }
}

@media (min-width: $screen-sm) {
  .comments-area {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .comment-respond {
    width: 70%;
    margin:0 auto;
    padding: 20px;
  }

  #disqus_thread {
    width: 90%;
    margin:0 auto;
    padding: 20px;
  }

}