.sticky {
  display: block;
}

.hentry {
  position: relative;
  z-index: 1;
  margin: 2em 0 1em;
  height: 100%;
  @media (min-width: $screen-xs) {
    padding: 0px 20px;
  }
  @media (min-width: $screen-lg) {
    padding: 0px 20px 0;
  }
}

//.home {
  .article-wrapper {
    border-bottom: 1px dashed $color__borders;
    position: relative;
  }

  .article-wrapper:last-child {
    border-bottom: none;
  }
    .article-wrapper > article {
    width: 96%;
    border-radius: 3px;
    margin: 2em auto;
    padding:.5em;
    border: 2px solid #ecf8ff;
  }

//.archive {
//  .article-wrapper > article {
//    width: 96%;
//    margin: 2em auto;
//    padding-bottom:.5em;
//  }
//
//  .article-wrapper:nth-child(odd) > article {
//    border: 1px solid #e7e7e7;
//  }
//
//  .article-wrapper:nth-child(even) > article {
//    border: 1px solid #e7e7e7;
//  }
//}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.entry-header {
  padding-bottom: 15px;
  //  border-bottom: 1px solid #90d0ff;
  //  background-color: #ffffff;
}

//.entry-header:after {
//  right:20px;
//  left: auto;
//  width: 47%;
//  border-bottom: 10px solid green;
//  transform: rotate(-7deg);
//}

.entry-header h1 {
  font-family: $font__article_header;
  letter-spacing: .02em;
  padding-left: 10px;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  @media (min-width: $screen-xs) {
    font-size: 1.5em;
  }
  @media (min-width: $screen-sm) {
    font-size: 1.8em;
  }
}

.page-title {
  font-family: $font__header;
  text-align: center;
  letter-spacing: .05em;
  background-color: $color__nav_elements;
  width: 95%;
  border-radius: 3px;
  margin: 1em auto 2em;

  @media (min-width: $screen-xs) {
    font-size: 1.6em;
  }
  @media (min-width: $screen-sm) {
    font-size: 1.9em;
  }
}

.posted-on, .posted-on a {
  color: $color__subheaders;
}

.entry-footer {
  min-height: 50px;
  margin: 0 15px;

  .cat-links, .tags-links{
    display:block;
    margin:10px 0 0;
    padding:0;
  }

  .category-icon {
    background-repeat: no-repeat;
    background-image: url('assets/images/icons.png');
    background-position: 0 -20px;
    width: 20px;
    height: 20px;
    margin: 0 10px 4px 0;
    //display: inline;
    float:left;
//    vertical-align: middle;
    opacity: .4;
  }

  .tag-icon {
    background-repeat: no-repeat;
    background-image: url('assets/images/icons.png');
    background-position: -40px 0px;
    width: 20px;
    height: 20px;
    margin: 0 10px 4px 0;
    float:left;
//    display: inline-block;
//    vertical-align: middle;
    opacity: .4;
  }
}

//
//#post-share.with-toc {
//  position: relative;
//  width: 75%;
//  height: 100%;
//  padding:0;
//  margin:40px 0 0;
//}

#post-share {
  position: relative;
  width: 100%;
  height: 100%;
  padding:0;
  margin:40px 0 0;
}


#post-share {
  .share-button:before {
    position: absolute;
    width: 1em;
    margin-right: .3em;
    font-size: 200%;
    top: 30%;
    left: 17%;
  }


  @media (min-width: $screen-xs) {
    $share-button-width: 60px;
    $share-button-group-width: $share-button-width*3;
    $share-button-height: 70px;
    $share-button-group-height: $share-button-height*2;
    .share-button-group {
      width: $share-button-group-width;
      height: $share-button-group-height;
      position: relative;
      list-style-type: none;
      display: block;
      margin: 20px auto;
      padding: 0;
    }

    .share-button {
      position: relative;
      height: $share-button-height;
      width: $share-button-width;
      display: inline-block;
      vertical-align: middle;
      color: #ffffff;
      margin: 0;
      padding: 0;
      a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        //top: -31px;
        text-decoration: none;
      }
      a:hover{
        text-decoration: none;
      }
    }
  }

  @media (min-width: 460px) {
    $share-button-width: 75px;
    $share-button-group-width: $share-button-width*6;
    $share-button-height: 75px;
    $share-button-group-height: $share-button-height;

    .share-button-group {
      width: $share-button-group-width;
      height: $share-button-group-height;
    }

    .share-button {
      height: $share-button-height;
      width: $share-button-width;
    }
  }

  span.counter {
    color: #ffffff;
    position: relative;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    overflow: hidden;
    top: 35px;
    left: 10px;
  }

  span.share-counter {
    font-size: 100%;
    position: relative;
    top: 15px;
    display: block;
    text-align: center;
    width: 100%;
  }

  .share-button:before {
    position: absolute;
    top: 30%;
//    left: 15%;
    font-family: share-icons;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    //margin-right: .3em;
    text-align: center;

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1.1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .4em;

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 170%;
  }

}
