.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
  background-color: #fafafa;
  min-height: 70px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  ul {
    list-style: none;
    margin: 0;
    //padding-left: 0;
    li {
      float: left;
      //width: 100px;
      padding: 10px 20px 10px;
      //background-color: #0000fe;
      a {
        display: block;
      }
      ul {
        li {
          //padding:50px;
          background-color: #008800;
        }
      }
    }
  }
}

//  ul {
//    list-style: none;
//    margin: 0;
//    padding-left: 0;
//
//    ul {
//
//    }
//
//    ul {
//      //box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
//      float: left;
//      position: absolute;
//      top: 1.5em;
//      left: -999em;
//      z-index: 99999;
//
//      ul {
//        left: -999em;
//        top: 0;
//      }
//
//      li {
//        &:hover > ul {
//          left: 100%;
//        }
//      }
//
//      a {
//        //width: 200px;
//      }
//
//      :hover > a {
//      }
//
//    }
//
//    li:hover > ul {
//      left: auto;
//    }
//
//  }
//  li {
//    float: left;
//    position: relative;
//
//    &:hover > a {
//    }
//  }
//  a {
//    display: block;
//    text-decoration: none;
//    font-family: $font__header;
//    padding: 20px 20px 25px;
//  }
//
//  a:hover:after {
//    font-family: monospace;
//    font-size:.1em;
//    position: absolute;
//    bottom: 0;
//    left: 0;
//    content: "10011000101010101110001111";
//    background-color: #586a80;
//    overflow: hidden;
//    width: 100%;
//    opacity: .5;
//    border-radius: 5px;
//  }
//
//  .current_page_item > a,
//  .current-menu-item > a,
//  .current_page_ancestor > a {
//  }
//}

.menu-toggle {
  display: none;
}

@media screen and (max-width: 600px) {
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }

  .main-navigation ul {
    display: none;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 2em 1.5em;
    overflow: hidden;
    background-color: #eaeaea;
    padding: 2em;
    border-radius: 10px;
  }

  & .nav-previous {
    float: left;
    width: 50%;
  }

  & .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}