.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
  @media (min-width: $screen-xs) {
    padding: 0 15px;
  }
  @media (min-width: $screen-lg) {
    padding: 0 15px 0;
  }

}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.entry-header h1 {
  font-family: $font__article_header;
  letter-spacing: .02em;
  padding-left: 10px;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  @media (min-width: $screen-xs) {
    font-size: 1.5em;
  }
  @media (min-width: $screen-sm) {
    font-size: 1.8em;
  }
}

.page-title {
  font-family: $font__header;
  text-align: center;
  letter-spacing: .05em;
  margin-bottom: 2em;

  @media (min-width: $screen-xs) {
    font-size: 1.6em;
  }
  @media (min-width: $screen-sm) {
    font-size: 1.9em;
  }
}

.posted-on, .posted-on a {
  color: $color__subheaders;
}

.entry-footer {
  min-height: 50px;
  margin: 0 15px;

  .category-icon {
    background-repeat: no-repeat;
    background-image: url('images/icons.png');
    background-position: 0 -20px;
    width:20px;
    height:20px;
    margin: 0 10px 4px 0;
    display: inline-block;
    vertical-align: middle;
    opacity: .4;
  }
}